@model InvoiceAutomation.Models.Invoice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Invoice_Number" class="control-label"></label>
                <input asp-for="Invoice_Number" class="form-control" />
                <span asp-validation-for="Invoice_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document_Number" class="control-label"></label>
                <input asp-for="Document_Number" class="form-control" />
                <span asp-validation-for="Document_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Of_Creation" class="control-label"></label>
                <input asp-for="Data_Of_Creation" class="form-control" />
                <span asp-validation-for="Data_Of_Creation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sender_Code" class="control-label"></label>
                <input asp-for="Sender_Code" class="form-control" />
                <span asp-validation-for="Sender_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipient_Code" class="control-label"></label>
                <input asp-for="Recipient_Code" class="form-control" />
                <span asp-validation-for="Recipient_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost_Code" class="control-label"></label>
                <input asp-for="Cost_Code" class="form-control" />
                <span asp-validation-for="Cost_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item_Number" class="control-label"></label>
                <input asp-for="Item_Number" class="form-control" />
                <span asp-validation-for="Item_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allowed" class="control-label"></label>
                <input asp-for="Allowed" class="form-control" />
                <span asp-validation-for="Allowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Controller" class="control-label"></label>
                <input asp-for="Controller" class="form-control" />
                <span asp-validation-for="Controller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passed" class="control-label"></label>
                <input asp-for="Passed" class="form-control" />
                <span asp-validation-for="Passed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accepted" class="control-label"></label>
                <input asp-for="Accepted" class="form-control" />
                <span asp-validation-for="Accepted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

