html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.header {
    text-align: center;
    font-weight: bold;
    text-align: center;
}

.invoiceNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .invoiceNumber label {
        min-width: 160px;
        font-weight: bold;
    }

    .invoiceNumber input {
        width: 60%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.column {
    flex: 1;
    padding: 10px;
}

    .column:not(:last-child) {
        border-right: 1px solid black;
    }

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .row label {
        min-width: 150px;
        font-weight: bold;
    }

    .row input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.add-button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-button:hover {
    background-color: #0056b3;
}

.data-grid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .data-grid th,
    .data-grid td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .data-grid th {
        background-color: #f0f0f0;
        font-weight: bold;
    }