@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AuthorizationStyles.css" asp-append-version="true" />
    <title>Авторизация</title>
</head>
<body>
    @model InvoiceAutomation.Models.User

    <div class="login-container">
        <h1>Вход</h1>
        <form asp-action="Authorization">
            <label for="expenseCode">Логин:</label>
            <input asp-for="Username" class="form-control" id="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <label for="expenseCode">Пароль:</label>
            <input asp-for="Password" class="form-control" id="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="add-button-center">
                <button class="add-button" id="AuthorizationButton" type="button">Вход</button>
            </div>
        </form>
    </div>

    <script src="~/js/AuthorizationScripts.js" asp-append-version="true"></script>
</body>
</html>

